@font-face {
	font-family: "Archia";
	src: url("../Archia-Regular.otf"); /* IE9 Compat Modes */
  }
  
  body {
	font-family: "Archia";
	font-weight: Regular;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #212121;
    color: white;
  }
  
  code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
	  monospace;
  }
  
  .app {
	text-align: center;
  }

  .nav-bar {
    top: 10em;
    min-height: 5vh;
    min-width: 95vw;
    height: 2em;
    display: flex; /* Use flexbox for horizontal alignment */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
}

.nav-item {
    margin: 0 2em; /* Add spacing between items */
    align-self: center;

    display: block;
    text-align: center; /* Center text */
    text-decoration: none; /* Remove underline */
    color: white; /* Change link color to white */
    font-size: 1em;
    width: 3em;
    height: 2em;
}


  .content {
	min-height: 86vh;
	min-width: 100vw;
	display: grid;
	grid-template: "container";
	place-items: center;
	place-content: center;
	overflow: hidden;
	gap: 10%;
	font-size: calc(10px + 2vmin);
	color: white;
  }
  
  .typing-container {
	display: inline-block;
	overflow-wrap: break-word;
  }
  
  .text-blob {
	display: inline-block;
	overflow-wrap: break-word;
	width: 70%;
  }
  
  .typed-out {
	overflow: hidden;
	border-right: 0.15em solid white;
	white-space: nowrap;
	animation: typing 2s steps(60, end) forwards, blink 0.8s infinite;
	font-size: 1.6rem;
	width: 0;
  }
  
  .twitter {
	cursor: pointer;
	background: url(../twitter.png);
	background-size: 2em 2em;
	height: 2em;
	width: 2em;
  }
  
  .github {
	cursor: pointer;
	background: url(../github.png);
	background-size: 2em 2em;
	height: 2em;
	width: 2em;
  }
  
  .social-media {
	  display: grid;
      min-width: 100vw;
	  grid-auto-flow: column;
      gap: 1.5%;
	  place-items: center;
	  place-content: center;
  }
  
  @keyframes typing {
	from {
	  width: 0;
	}
	to {
	  width: 100%;
	}
  }
  
  @keyframes blink {
	from {
	  border-color: transparent;
	}
	to {
	  border-color: white;
	}
  }
